[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
flask = "*"
pandas = "*"
plotly = "*"
scikit-learn = "*"
googlemaps = "*"
project3 = {file = ".", editable = true}
pytest = "*"
reportlab = "*"

[dev-packages]

[requires]
python_version = "3.12"
